a {
	color: orange;
}

a:visited {
	color: purple;
}

aside {
	border-top: 5px solid black;
	background-color: #ededed;
}

section#blenderdoes {

	margin: 0 auto;
	margin-bottom: 15px;
	width: 50%;
}

body {
	max-width: 5000px;
	margin: auto;
	width: 100%;

}

section#examples {
	overflow: hidden;
	min-width: 275px;
	width: 98%;
	
}

section#examples div {
	margin:auto;
	width: 90%;
}

section#examples div div {
	display: inline-block;
	width: 45%;
	min-width: 275px;
	margin: auto;
	vertical-align: top;

}

figcaption {
	font-size: .7em;
}

footer {
	float: right;
}

form {
	width: 50%;
	min-width: 285px;
	margin: auto;
	background-color: white;
	border: 3px solid black;
	margin-bottom: 25px;
	padding-top: 10px;
}

h1, h2, h3, h4 {
	font-family: verdana, serif;
	text-align: center;
	font-weight: lighter;
	font-variant-caps: all-small-caps;

}

section#head-section {
	position: fixed;
	margin: auto;
	top: -15px;
	left: -5px;
	width: 100%;
	box-shadow: 0px 3px #232426;
	height: 50px;
	background-color: rgba(255,255,255,.75)

}


#headerimage {
	position: relative;
	top: -55px;
	height: 40px;
	width: 40px;
	border: none;
}

#heading {
	/*border: 1px solid black;*/
	text-align: center;
	font-weight: lighter;
	letter-spacing: 6px;
	
}

html {
	font-family: Helvetica, serif;
	margin: 0 auto;
	background-color: #ededed;
	background-image: url("http://3.bp.blogspot.com/-02gS9dwjujE/VmxXXGPW4AI/AAAAAAAAgXM/MAIgANMGqS0/s1600/simple-white-website-background.jpg");
	background-repeat: repeat-y;
	background-blend-mode: color-burn;
	background-size: 100% 100%;
	display: block;
	max-width: 5000px;

}

section#intro {
	margin-bottom: 25px;
	padding-top: 50px; 
	padding-bottom: 40px;
}

section#intro p {
	text-align: center;
}

img {
	border: 3px solid #797b7f;
}

input {
	width: 20%;
	min-width: 200px;
	margin: auto;
	margin-bottom: 15px;
	display: block;
}

label {
	display: block;
	margin: 0 auto;
	text-align: center;
}

li {
	list-style-type: square;
	margin: auto;
	

}

li:hover {
	font-size: 1.05em;
	cursor: default;
}

main {
	width: 100%;
	max-width: 5000px;
	margin: 0 auto;
	/*border: 1px solid black;*/
	display: block;
	
}

section#opensource {
	clear: left;
}

section#opensource p {
	max-width: 1050px;
	margin: 20px auto;
	text-align: center;
}

div.orange-bar {
	height: 3px;
	width: 50%;
	background-color: #d85a00;
	margin: 0 auto;
}

section#photo-section {
	height: 350px;
	min-width: 550px;
	width: 80%;
	margin: auto;
	margin-bottom: 15px;
}

figure#photo-container {
	width: 820px;
	min-width: 550px;
	display: block;
	margin: auto;
	margin-top: 25px; 
}

section#photo-section figure#photo-container img {
	width: 400px;
	height: 300px;
	border: 1px solid black;
}

section#photo-section p {
	text-align: center;
	margin: auto;
	font-size: .7em;
}

section#pros {
	clear:left;
	width: 47%;
	float:left;
	min-height: 200px;
	min-width: 275px;
	
}

section#cons {
	width: 47%;
	float: right;
	min-width: 275px;
	min-height: 200px;
}

section {
	background-color: white;
	padding: 5px;
	margin-bottom: 15px;
	padding-left: 20px;
	border: 1px solid #797b7f;
	border-radius: 1px;
	box-shadow: 1px 1px #6d6d6d;

}

select {
	margin: auto;
	display: block;
}

#ul-container {
	width: 100%;
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: 1125px) {
	section#cons {
		float: none;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	section#pros {
		float: none;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 25px;

	}
	section#blenderdoes {
		width: 80%;
		min-width: 275px;
		margin-bottom: 25px;
		min-height: 420px;
	}

	section#examples {
		padding-bottom: 30px;
		width: 80%;
		margin: auto;
		margin-bottom: 25px;
	}

	section#examples div div {
		float: none;
		width: 90%;
		margin: auto;

	}

	section#examples div div img {
		margin: 0 auto;
		display: block;

	}

	section#examples div div figcaption {
		margin: 0 auto;
		display: block;
		text-align: center;
	}

	section#examples div div iframe {
		margin: 0 auto;
		display: block;
	}

	main {
		width: 90%;
	}

	section#photo-section {
		height: 650px;
	}

	section#photo-section figure#photo-container {
		margin: auto;
		width: 70%;
		margin-top: 25px;
	}

	section#photo-section figure#photo-container img {
		display: block;
		margin:auto;	
	}

	section#opensource p {
		margin: 35px auto;
	}
}

@media screen and (max-width: 550px) {
	li {
		font-size: .9em;
	}
	p {
		font-size: .9em;
	}
}